.service {
    border: 1px solid cyan;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.appoint-button {
    border: none;
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.appoint-button:hover {
    background-color: blue;
}